* {
  margin: 10px 0;
}

.product-liste {
  margin: 0 30px;
}

h3 {
  color: #1976d2;
  font-size: 30px;
}
p {
  box-sizing: border-box;
  font-size: 20px;
}
button {
  font-size: 20px;
  padding: 10px 15px;
  color: white;
  background-color: #1976d2;
}
